{{!< default}}

<style>
   .media-content{
    display: inline;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    border-bottom: 1px solid transparent;
    transition: border-bottom .26s ease-in-out;
   }

   time{
           display: block;
    color: var(--color-gray);
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    margin-top: 8px;
   }

   .r-title{
           margin-bottom: 0;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    {{!-- -webkit-box-shadow: inset 0 -4px 0 0 var(--color-dark); --}}
    box-shadow: inset 0 -4px 0 0 var(--color-dark);
   }

   hr{
       margin-bottom : 20px;
       margin-top: 5px;
   }

   .button{
       padding-left : 200px;
       padding-right : 200px;
   }

   .my_button{
        margin: 50px, 0;
        margin-bottom: 50px;
   }
   .button.is-fullwidth {
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.button.is-info {
    background-color: #000c2d;
    border-color: transparent;
    color: #fff;
    transition: all .26s ease-in-out;
}

.button.is-info:hover {
    background-color: red;
    border-color: transparent;
    color: #fff;
    transition: all .26s ease-in-out;
}

.author-media{
    background-color:rgb(238,241,240);
    padding: 32px;
}

.author-img{
    border-radius: 100%;
    height:64px;
    width: 64px;
    border: 4px solid white;
}

.media-content p{
        margin: 0;
    color: var(--color-gray);
    font-size: 12px;
    line-height: 16px;
    font-family: "Inter var",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

</style>

<main class="container">
    <div class="columns is-multiline">
        {{#foreach posts}}
       {{!-- <h1><a href="{{url}}">{{title}}</a></h1> --}}
        <div class="column is-half is-centered">
            {{> post_cards}}
        </div>
    {{/foreach}}
    </div>
    
    <div class="my_button">
    <button class="button is-info is-rounded is-fullwidth is-medium">More Post</button>
    </div>

    <div class="columns">
        <div class="column">
            <h3 class="r-title">work</h3>
            <hr>
            {{#get "posts" limit="4" as |recent|}}
            <ul>
                {{#foreach recent}}
                <li>
                    <div class="media">
                        <div class="media-content">
                            <a href="{{url}}">{{title}}</a>
                            <br>
                            <time>{{date}}</time>
                        </div>
                        <div class="media-right">
                            <figure class="image is-96x96">
                                <img  src="http://penang.aspirethemes.com/content/images/size/w176/2019/12/content-pixie-_bCP3TY0pbk-unsplash.jpg">
                            </figure>
                        </div>
                    </div>
                </li>
                {{/foreach}}
            </ul>
            {{/get}}
        </div>
         <div class="column">
             <h3 class="r-title">Inspiration</h3>
            <hr>
            {{#get "posts" limit="4" as |recent|}}
            <ul>
                {{#foreach recent}}
                <li>
                    <div class="media">
                        <div class="media-content">
                            <a href="{{url}}">{{title}}</a>
                            <br>
                            <time>{{date}}</time>
                        </div>
                        <div class="media-right">
                            <figure class="image is-96x96">
                                <img src="http://penang.aspirethemes.com/content/images/size/w176/2019/12/content-pixie-_bCP3TY0pbk-unsplash.jpg">
                            </figure>
                        </div>
                    </div>
                </li>
                {{/foreach}}
            </ul>
            {{/get}}
            
        </div>
         <div class="column">
             <h3 class="r-title">Education</h3>
            <hr>
            {{#get "posts" limit="4" as |recent|}}
            <ul>
                {{#foreach recent}}
                <li>
                    <div class="media">
                        <div class="media-content">
                            <a href="{{url}}">{{title}}</a>
                            <br>
                            <time>{{date}}</time>
                        </div>
                        <div class="media-right">
                            <figure class="image is-96x96">
                                <img src="http://penang.aspirethemes.com/content/images/size/w176/2019/12/content-pixie-_bCP3TY0pbk-unsplash.jpg">
                            </figure>
                        </div>
                    </div>
                </li>
                {{/foreach}}
            </ul>
            {{/get}}
            
        </div>
    </div>

    <h3 class="r-title">Authors</h3>
    <hr>
    
    <div class="columns">
        <div class="column">
            <div class="media author-media">
                <div class="media-left">
                            <figure >
                                <img class="author-img" src="http://penang.aspirethemes.com/content/images/size/w176/2019/12/guillaume-bleyer-Dep2HTKqGj0-unsplash-1.jpg">
                            </figure>
                        </div>
                        <div class="media-content">
                            <a href="{{url}}">Sara James</a>
                            <br>
                            <p>
                                Author and developer of Aspire Themes.
                                Minimalist.
                            </p>
                        </div>   
            </div>
            
        </div>
        <div class="column">
            <div class="media author-media">
                <div class="media-left">
                            <figure >
                                <img class="author-img" src="http://penang.aspirethemes.com/content/images/size/w176/2019/12/guillaume-bleyer-Dep2HTKqGj0-unsplash-1.jpg">
                            </figure>
                        </div>
                        <div class="media-content">
                            <a href="{{url}}">Sara James</a>
                            <br>
                            <p>
                                Author and developer of Aspire Themes.
                                Minimalist.
                            </p>
                        </div>   
            </div>
            
        </div>
        <div class="column">
            <div class="media author-media">
                <div class="media-left">
                            <figure >
                                <img class="author-img" src="http://penang.aspirethemes.com/content/images/size/w176/2019/12/guillaume-bleyer-Dep2HTKqGj0-unsplash-1.jpg">
                            </figure>
                        </div>
                        <div class="media-content">
                            <a href="{{url}}">Sara James</a>
                            <br>
                            <p>
                                Author and developer of Aspire Themes.
                                Minimalist.
                            </p>
                        </div>   
            </div>
            
        </div>
    </div>
</main>



{{!-- {{pagination}} --}}